{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {%block content %}
<title>ELIMINAR EMPRESA</title>
<div class="container" style="text-align: center">
  <div class="card-deck mt-3">
    <div class="col-md-4">
      <div class="card" style="width: 28rem; backgroun-color: grey">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <p>Deseas borrar la Empresa: " {{object}} " ?</p>
            <input type="submit" value="YES" class="btn btn-outline-secondary"/>
            <a class="btn btn-outline-secondary" href="{% url 'empresas' %}">NO</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}