{% extends "base.html" %} {% load static %} {% block content %}
<title>CLIENTES</title>
<div class="container" style="text-align: center;">
  <a href="{% url 'add_cliente' %}" class="btn btn-outline-secondary">NUEVO CLIENTE</a><br>
</div>
<div class="container">
  <div class="card-deck mt-4">
      {% for client in object_list %}
      <div class="col-md-4">
          <div class="card" style="width: 22rem; backgroun-color: grey;">
              <div class="card-body">
                  <h5 style="text-align: center" class="card-title">{{client}}</h5>
                  <p style="text-align: center">
                  <a href="{% url 'detail_cliente' client.id  %}" class="btn btn-outline-secondary">DETALLE</a> 
                  <a href="{% url 'update_cliente' client.id  %}" class="btn btn-outline-secondary">EDITAR</a> 
                  <a href="{% url 'delete_cliente' client.id  %}" class="btn btn-outline-secondary">BORRAR</a>
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
<br><br><br><br><br><br>
<!--TABLA_DATOS-->
<div class="container" style="width: 95%; margin: auto">
  <table class="table table-hover table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>CUIT</th>
        <th>NOMBRE</th>
        <th>DIRECCION</th>
        <th>TELEFONO</th>
        <th>EMAIL</th>
      </tr>
    </thead>
    <tbody>
      {% for CLIENT in object_list %}
      <tr>
        <td scope="row">{{CLIENT.cuit}}</td>
        <td>{{CLIENT.nombre}}</td>
        <td>{{CLIENT.direccion}}</td>
        <td>{{CLIENT.telefono}}</td>
        <td>{{CLIENT.email}}</td>
        <!--
        <td>|</td>
        <td>
          <a href="{% url 'detail_cliente' CLIENT.id %}" class="btn btn-outline-secondary">DETAIL</a><br>
          <a href="{% url 'update_cliente' CLIENT.id %}" class="btn btn-outline-secondary">UPDATE</a><br>
          <a href="{% url 'delete_cliente' CLIENT.id %}" class="btn btn-outline-secondary">DELETE</a><br>
        </td>
        -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
