{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {%block content %}
<title>DETALLE PAGOS</title>
<div class="container">
  <div class="card-deck mt-3">
    <div class="col-md-4">
      <div class="card" style="width: 28rem; backgroun-color: grey">
        <div class="card-body">
          <h5 class="card-title"><p>Nº Factura : <i>{{pagos.numero_factura}}</i></p></h5>
          <p>Fecha : <i>{{pagos.fecha}}</i></p>
          <p>Importe : <i>{{pagos.importe}}</i></p>
          <p style="text-align: center">
            <a class="btn btn-outline-secondary" href="{% url 'pagos' %}">REGRESAR</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}